
.gioi_thieu_header {
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 35px;
    border: 2px solid lightblue;
    margin: 30px 0;
}

.gioi_thieu_header_tp {
    height: 166px;
    border: none;
    border-radius: 9px;
    object-fit: contain;
    object-position: center;
}

.chu_gioi_thieu {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    color: #333;
    margin: 10px 5px;
    line-height: 3rem;
}

.thong_tin_ve_khanh_bang {
    flex-direction: column;
}

.noi_dung_the_gioithieu_the {
    border-radius: 9px;
    box-shadow: 0 1px 2px black;
    padding: 63px 16px;
    margin: 30px 10px;
    background-color: white;
    animation: chuyenCanhKhungDangKy linear 1s;
}
